<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/homeHead.ejs')%>
  <body>
    <%- include('./partials/navbar.ejs')%> <%-
    include('./partials/homeScript.ejs') %>
    <div class="container">
      <div class="row">
        <div class="col-xl-5">
          <div class="card">
            <div class="card-body">
              <div class="d-flex align-items-start">
                <img
                  src="https://media.istockphoto.com/vectors/default-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1223671392?k=20&m=1223671392&s=612x612&w=0&h=lGpj2vWAI3WUT1JeJWm1PRoHT3V15_1pdcTn2szdwQ0="
                  class="rounded-circle avatar-lg img-thumbnail"
                  alt="profile-image"
                />
                <div class="w-100 ms-3">
                  <h4 class="my-0"><%= user.username %></h4>
                  <p class="text-muted"><%= user.email %></p>
                </div>
              </div>
              <br />
              <input
                id="edit-profile"
                value="Edit Profile"
                class="btn btn-primary"
                type="button"
              />
              <input
                style="display: none"
                id="done-editing"
                value="Done Editing"
                type="button"
              />
              <div class="mt-3" id="formContainer" style="display: none">
                <div class="container mt-3">
                  <form id="profileForm" name="profileForm">
                    <div>
                      <input type="hidden" id="userId" value="<%= user.id %>" />
                      <label for="exampleInputEmail1" class="form-label"
                        >First Name</label
                      >
                      <input
                        type="text"
                        name="fname"
                        id="fNameForm"
                        class="form-control"
                        value=""
                      />
                    </div>
                    <div>
                      <label for="exampleInputEmail1" class="form-label"
                        >Last Name</label
                      >
                      <input
                        type="text"
                        name="lname"
                        id="lNameForm"
                        class="form-control"
                        value=""
                      />
                    </div>
                    <label for="exampleInputEmail1" class="form-label"
                      >Location</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="locationForm"
                      aria-describedby="emailHelp"
                    />
                    <label for="exampleInputEmail1" class="form-label"
                      >Sport</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="sportForm"
                      aria-describedby="emailHelp"
                    />
                    <label for="bioForm" class="form-label">Bio</label>
                    <textarea
                      class="form-control"
                      id="bioForm"
                      rows="3"
                    ></textarea>
                  </form>
                </div>
              </div>
              <div class="mt-3">
                <h4 class="font-13 text-uppercase">About Me :</h4>
                <p class="text-muted font-13 mb-3">
                  <% if (!user.bio) { %> Tell us about yourself! <% } else { %>
                  <%= user.bio %> <% } %>
                </p>
                <p class="text-muted mb-2 font-13">
                  <strong>Full Name :</strong>
                  <span class="ms-2">
                    <% if (!user.first_name && !user.last_name) { %> What's your
                    full name? <% } else { %> <%= user.first_name %> <%=
                    user.last_name %> <% } %>
                  </span>
                </p>

                <p class="text-muted mb-2 font-13">
                  <strong>Location :</strong
                  ><span class="ms-2">
                    <% if (!user.location) { %> Where are you from? <% } else {
                    %> <%= user.location %> <% } %>
                  </span>
                </p>

                <p class="text-muted mb-2 font-13">
                  <strong>Sport :</strong>
                  <span class="ms-2">
                    <% if (!user.sports) { %> What's your favorite sport? <% }
                    else { %> <%= user.sports %> <% } %>
                  </span>
                </p>
              </div>
            </div>
          </div>
          <!-- end card -->
        </div>
        <!-- end col-->
        <div class="col-xl-7">
          <div class="card">
            <div class="card-body">
              <!-- comment box -->
              <form action="#" class="comment-area-box mb-3">
                <span class="input-icon">
                  <textarea
                    rows="3"
                    id="postContent"
                    class="form-control"
                    placeholder="Write something..."
                  ></textarea>
                </span>
                <div class="comment-area-btn">
                  <div class="float-end">
                    <button
                      type="submit"
                      id="postButton"
                      class="btn btn-sm btn-dark waves-effect waves-light"
                    >
                      Post
                    </button>
                  </div>
                  <br>
                </div>
              </form>
              <!-- end comment box -->
              <!-- Story Box-->
              <div class="border border-light p-2 mb-3">
                <% if (posts.length > 0) { %> <% posts.forEach(post => { %>
                <div class="d-flex align-items-start mb-3">
                  <img
                    class="me-2 avatar-sm rounded-circle"
                    src="https://media.istockphoto.com/vectors/default-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1223671392?k=20&m=1223671392&s=612x612&w=0&h=lGpj2vWAI3WUT1JeJWm1PRoHT3V15_1pdcTn2szdwQ0="
                    alt="Generic placeholder image"
                  />
                  <div class="w-100">
                    <h5 class="">
                      <%= post.first_name %> <%= post.last_name %>
                      <small class="text-muted">
                        <%= moment(post.created_at).fromNow() %></small
                      >
                    </h5>
                    <div class="">
                      <%= post.content %>
                      <br />
                      <a
                        href="javascript: void(0);"
                        data-postId="<%= post.postId %>"
                        class="text-muted font-13 d-inline-block mt-2 likeButton"
                        ><i class="mdi mdi-heart"></i>Likes: <%= post.likes %>
                      </a>
                      <a
                        href="javascript: void(0);"
                        data-postId="<%= post.postId %>"
                        class="text-muted font-13 d-inline-block mt-2 displayReply"
                        ><i class="mdi mdi-reply"></i> Reply</a
                      >
                    </div>
                    <% if (post.replies.length > 0) { %> 
                      <% post.replies.forEach(reply => { %>
                    <div class="d-flex align-items-start mt-3">
                      <img
                        class="me-2 avatar-sm rounded-circle"
                        src="https://media.istockphoto.com/vectors/default-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1223671392?k=20&m=1223671392&s=612x612&w=0&h=lGpj2vWAI3WUT1JeJWm1PRoHT3V15_1pdcTn2szdwQ0="
                        alt="Generic placeholder image"
                      />
                      <div class="w-100">
                        <h5 class="mt-0">
                          <%= reply.first_name %> <%= reply.last_name %>
                          <small class="text-muted"><%= moment(reply.created_at).fromNow() %></small>
                        </h5>
                        <%= reply.content %>
                        <br />
                      </div>
                    </div>
                    <% })} %>
                  </div>
                </div>
                <div class="card-body commentBox<%= post.postId %>" style="display: none">
                  <span class="input-icon">
                  <textarea
                    rows="3"
                    id="replyContent<%= post.postId %>"
                    class="form-control"
                    placeholder="Write something..."
                  ></textarea>
                </span>
                <div class="comment-area-btn">
                  <div class="float-end">
                    <button
                      type="submit"
                      data-postId="<%= post.postId %>"
                      class="btn btn-sm btn-dark waves-effect waves-light mt-2 replyButton"
                    >
                      Reply
                    </button>
                  </div>
                  <br>
                </div>
                </div>
                <% }) %> <% } else { %> No Posts Found :( <% } %>
              </div>
            </div>
          </div>
          <!-- end card-->
        </div>
        <!-- end col -->
      </div>
      <!-- end row-->
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <footer id="sticky-footer" class="flex-shrink-0 py-4 text-white" style="background-color : #4285F4">
      <div class="container text-center">
        <small>Copyright &copy; The Marcy Lab School</small>
      </div>
    </footer>
  </body>
</html>
